body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}

p {
    margin-top: 5px;
}

.close {
    float: right;
    transition: 0.5s;
    font-size: 18px;
}

.help {
    transition: 0.5s;
    display: none;
}

.close:hover {
    cursor: pointer;
}

.tooltip {
    background-color: #2E3C43;
    color: white;
    border-color: #2E3C43;
    z-index: 1000;
}

.leaflet-tooltip-top:before {
    border-top-color: #2E3C43;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    max-width: 350px;
    transition: max-width 0.5s;
}

.info h4 {
    margin: 0 0 5px;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.site-info {
    max-width: 350px;
}

@media only screen and (max-width: 437px) {
    .site-info {
        max-width: calc(100vw - 80px);
    }
}

.leaflet-left .leaflet-control {
    padding-bottom: 0px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: #2E3C43;
    color: white;
    border-radius: 3px;
}

/* .leaflet-popup-content>div>span,
.leaflet-tooltip>div>span {
} */

.space {
    visibility: hidden;
}

.red {
    color: #e9737d;
    padding-left: 12px;
}

.open-graph {
    color: #42BFDD;
    text-decoration: underline;
    cursor: pointer;
}

.popup-data {
    display: flex;
    justify-content: space-between;
}

.leaflet-popup-content>.red {
    margin-right: 22px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display: none;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #3498DB;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.leaflet-top,
.leaflet-bottom {
    z-index: 999;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transition-property: opacity, visibility;
}

.modal-content {
    border-radius: 3px;
    background-color: #FFF;
    width: 75%;
    max-width: 1080px;
    padding: 20px;
}

#close-modal {
    position: relative;
    float: right;
    top: -4px;
    right: -4px;
    cursor: pointer;
    margin-bottom: -32px;
    z-index: 1001;
}

#close-modal svg {
    pointer-events: none;
}

.fade {
    opacity: 0;
    visibility: hidden;
}

.chart-container {
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

#chartjs-tooltip {
    z-index: 1000;
    background-color: white;
    border-radius: 3px;
    transition: 0.15s ease-out;
    text-align: left;
    -webkit-filter: drop-shadow(0px 2px 2px rgba(130,130,130,1));
    filter        : drop-shadow(0px 2px 2px rgba(130,130,130,1));
    -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    filter        : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}

#chartjs-tooltip::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0%;
    left: 0%;
    margin-left: -5px;
    margin-top: 10px;
    box-sizing: border-box;
    
    border: 6px solid black;
    border-color: transparent transparent white white;
    
    transform: rotate(45deg);
}

#chartjs-tooltip.right::before {
    top: 0%;
    left: unset;
    right: 0%;
    margin-right: -5px;
    margin-top: 10px;
    transform: rotate(225deg);
    border-color: transparent transparent white white;
}

.leaflet-control-attribution  {
    max-width: 384px;
    width: calc(100vw - 180px);
}